*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f6fb;
overflow:hidden;
}

.container{
display:flex;
min-height:100vh;
overflow:hidden;
}

.sidebar{
width:240px;
min-width:240px;
height:100vh;
background:linear-gradient(180deg,#2451E5,#0C1E59);
color:white;
padding:20px;
display:flex;
flex-direction:column;
justify-content:space-between;
flex-shrink:0;
}

.logo{
position:relative;
display:flex;
align-items:center;
margin-top:20px;
margin-left:20px;
height:80px;
}

.logo-box{
width:65px;
height:65px;
background:#1D5CE6;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
position:relative;
top: -15px;
left: -20px;
z-index:2;
}

.logo-box img{
width:60px;
height:60px;
object-fit:contain;
display:block;
}

.brand-text{
position:absolute;
left:55px;
top:30%;
transform:translateY(-50%);
z-index:1;
}

.brand-text h1{
font-size:22px;
font-weight:400;
color:white;
line-height:1;
white-space:nowrap;
}

.brand-text p{
font-size:9.7px;
font-weight:400;
color:white;
margin-top:2px;
white-space:nowrap;
opacity:0.9;
}

.menu{
list-style:none;
margin-top:10px;
flex:1;
}

.menu li{
position:relative;
padding:13px 15px;
border-radius:7px;
margin-bottom:4px;
cursor:pointer;
display:flex;
align-items:center;
gap:10px;
font-size: 14px;
font-weight:400;
transition:0.3s;
}

.menu li a,
.bottom p a{
display:flex;
align-items:center;
gap:10px;
width:100%;
text-decoration:none;
color:white;
}

.menu li svg{
width:18px;
height:18px;
stroke-width:2;
flex-shrink:0;
}

.menu li.active{
background:#1D5CE6;
box-shadow:0 10px 25px rgba(0,0,0,0.18);
}

.menu li.active::after{
content: ">";
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
color:white;
font-size:18px;
font-weight:400;
}

/* MAIN */
.main{
flex:1;
height:100vh;
padding:25px;
overflow-y:auto;
overflow-x:auto;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header-right{
display:flex;
align-items:center;
gap:15px;
}

.header input{
padding:10px;
border-radius:10px;
border:none;
width:250px;
}

.notif{
position:relative;
}

.notif i{
width:20px;
height:20px;
}

.notif span{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:white;
font-size:10px;
padding:2px 5px;
border-radius:50%;
}

.avatar{
background:#3C6EF5;
color:white;
padding:10px;
border-radius:50%;
}

/* CARDS */
.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.card h2{
margin:10px 0;
}

/* CONTENT */
.content{
display:flex;
gap:20px;
}

.left{
flex:2;
}

.right{
flex:1;
}

.box{
background:white;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.schedule{
background:#eef2ff;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.bottom{
    list-style:none;
    margin-top:auto;
    padding-top:25px;
}

/* ITEM */
.bottom li{
    margin-top:10px;
}

/* LINK */
.bottom li a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 15px;
    border-radius:10px;
    font-size:12px;
    font-weight:400;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.bottom{
    list-style:none;
    margin-top:auto;
    padding-top:5px;
    border-top:1px solid rgba(255,255,255,0.15); /* 🔥 garis di atas keluar */
}

/* JARAK ITEM KE-2 */
.bottom li:last-child{
    margin-top:5px;
}

.bottom li:last-child a{
    display:flex;
    align-items:center;
}

.bottom li:last-child a > *{
    transform: translateX(12px);
}

/* ICON */
.bottom li svg{
    width:13px;
    height:13px;
    stroke-width:1.6;
}

/* ACTIVE (biru) */
.bottom li.active a{
    background:#1D5CE6;
    box-shadow:0 10px 25px rgba(0,0,0,0.18);
}

/* PANAH > */
.bottom li.active a::after{
    content: "›";
    margin-left:auto;
}

/* HOVER */
.bottom li a:hover{
    background:rgba(255,255,255,0.08);
}
